/*rishCSS*/




/* xs < 768 
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm 
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md 
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg 
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}*/


/*Nav bar Shrink*/

nav.navbar.shrink {
  min-height: 70px;
}

nav.navbar{ 
   /* Animation*/
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.shrinkNavLinkBar{
  margin-top:18px;
}
/*nav shrink ends*/


.rish_linksLi
{
  padding-right:17px;  
  font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-default .navbar-nav > li > a 
{
  color:#9B9B9B;
  font-size: 12px;
}

.rish_navbarUi{
 padding-left: 5%; 
}


.rish_links_selected{

}

.container-fluid_rishabh {
  
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*added by Rishabh*/
  padding-left: 12%;
  padding-right: 15%;
  padding-top: 2%;
  /*ended by Rishabh*/
}

.collapse_navbar_rishabh
{
  
  /*border-bottom: 1px solid #e7e7e7;*/
}

.bodyBlock
{
  background-color:#f8f8f8;
      
/* padding-left:2.5%;
  padding-right:;*/
  margin: 3% 1% 0px 1%;
  padding-left: 8%;
  padding-right: 8%;
  
  

}

.bodyColor
{
  background:url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/paper_fibers.png");
}

.rish_navbarBack
{
  background-color: #ffffff;
  /*border-color:#ffffff;*/
  border-top:4px solid #F86C6C;
  box-shadow: 0 0px 3px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,-0.8);
  
}

.portfolioColor
{

  color:#F86C6C;

}


.projectBlockLablesHead
{
  cursor: pointer;
  padding:4px 0 4px 0 ;
  color:#F86C6C;
  font-size: 1.2em;
  font-weight: 300;
}


.projectBlockLables
{
  padding:4px 0 8% 0;
  color:#555555;
  font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 300;
}


.rish_thumbnail
{
  /*cursor:pointer;*/
  border:none;
  border-radius: 0;
  padding: 0px;

}

.rish_thumbnail_click
{
  cursor:pointer;
  border:none;
  border-radius: 0;
  padding: 0px;

}

.rish_thumbnail_click:hover
{
  /*border: 1px solid #6a6a6a;*/
}

.rish_imageBorder
{
   /*border:1px solid #d5d5d5;*/
   border-radius: 0px;
}

.rish_thumbnail_no_click
{
 border:none; 
}


.rish_footer{
    background-color: #ffffff;
    /*padding-left: 12%;
    padding-right: 15%;
    padding-top: 2%;*/
}


.footer_content
{
  padding-left: 9%;
    padding-right: 9%;
  border-top: 1px solid #e7e7e7;
  font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 2%;
}

.footerHeads{
   color:#555555;
  font-size: .9em;
}

.footerHeadsRight
{
 float: right;
 font-size: .9em;
}

.footerHeadsContent{
 
  font-size: .9em;
  color:#9B9B9B;
}

.rish_About
{
  font-size:20px;
  color:gray;
  
}

.rish_Margins
{
  padding: 0 10% 0 10%;
}



.rish_topMargins
{
  margin-top: 0%;
}

.rish_navbarShadow{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.01),0 1px 10px 0 rgba(0,0,0,.02),0 2px 4px -1px rgba(0,0,0,.2);
}

.subHeads
{
  font-size: 25px;
  color:gray;
  font-weight: bold;
}

.rish_projectSummary
{
  font-size: 15px;
  color:gray;
}


.blockStartText
{
  /*border-bottom:1px solid #e9e9e9 ;*/

}

.subheaderText
{
  font-size:1.1em;
  color:#000000;
  text-align: justify;
  font-weight:300;

}

.subHeadings{
  text-align: :center;
  font-family: 'Merriweather', serif;
  font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:2.3em;
  color:#F59090;
 
}

.introText
{
  font-family: 'Merriweather', serif;
  /*font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-weight: 300;
  font-size:3em;
  color:#F59090;
}

.introTextDetails
{
  font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:1.8em;
  color:#555555;
  margin-top:-1%;
}

.resumeBlockHeads
{
  margin-top:3%;
  font-weight: normal;
  font-size: 1.3em;
  color:#F59090;

}

.resumeDetailsDate
{
  float:right;
  font-weight:bold;
  color:#333333;
}

.resumeDetailsBlock
{
  margin-top: 0.8%;
  
  font-size: 1.1em;
  font-weight: 300;
}


.aboutRightBlock
{

}

.btn:focus,.btn:active {
   outline: none !important;
}



.tabContentPadding
{
  background-color:#fff;
  padding: 0 1% 0 1%;
  /*border-left:1px solid #e7e7e7;
  border-right:1px solid #e7e7e7;*/
}

.rishNavbarContainerPadding
{
  padding: 0 9% 0 9%; 
}


.navbar-nav li>a:hover,.navbar-nav li>a:focus,.navbar-nav li.active {
    background-color:#000;
}

.closeButton
{
  float:right;
  vertical-align: top;
  cursor: pointer;

}


/*for the projects modal boxes*/
.modal { overflow: auto; } .modal-open {padding-right: 0px !important; } \

.when-modal-open
{
  overflow: hidden;
}

.modal-backdrop
{
    opacity:0 !important;
}
/* Important part */

/*
.modal-dialog{
    overflow-y: initial !important
}

.modal-body{
    height: 768px;
    overflow-y: auto;
}
/*.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.modal-dialog {
  position: fixed;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
}

.modal-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #3c7dcf;
  border-radius: 0;
  box-shadow: none;
}

.modal-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  padding: 10px;
  background: #6598d9;
  border: 0;
}

.modal-title {
  font-weight: 300;
  font-size: 2em;
  color: #fff;
  line-height: 30px;
}

.modal-body {
  position: absolute;
  top: 50px;
  bottom: 60px;
  width: 100%;
  font-weight: 300;
  overflow: auto;
}

.modal-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  padding: 10px;
  background: #f1f3f5;
}*/
.modal.fade .modal-dialog
{
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
    transition: none !important;

    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
}
/*ended*/


.projectsubHeads
{
  font-size:1.3em; 
  text-transform: uppercase;
  font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.projectType
{
  color:#777777;
  text-transform:uppercase;
}

.theProjectWhy
{
  font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 2%;
  font-size:1.5em; 
  font-weight: 300;
  padding:1% 10% 1% 10%;
  color:#333333;
  /*font-family: 'Merriweather', serif;*/
  text-align: justify;
}

.subheaderTextProjectType
{
  font-size:1.3em;
  color:#333333;
  text-align: justify;
  font-weight:400;
}

.projectBodyText
{
  font-size:1.1em;
  color:#000000;
  text-align: justify;
  font-weight:300;
}

.projectSubHeadings
{

  /*font-family: 'Merriweather', serif;*/
  font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size:1.8em;
  text-transform: uppercase;
  color:#F59090;
}

.aLinks
{
  color:#F59090 !important ;
  text-decoration:none !important;
}

.centerAligned
{
  text-align: center;
}

.navbarHeads
{
  color:#F59090;
  font-size:2em;
  font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.downloadButton{
text-align:center;
margin-top:2%;
font-family: "Lato" ,"Helvetica Neue", Helvetica, Arial, sans-serif;"
}

.toggleBackgroundColor
{
  background-color: #fff;
 border-top: 2px solid #ededed;/*
 background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/lightpaperfibers.png");
 background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/grid_noise.png");*/

}

  
}
