/*rishCSS*/



.rish_linksLi
{
  padding-right:40px;
  
}

.navbar-default .navbar-nav > li > a 
{
  color:#9B9B9B;
  font-size: 15px;
}

.rish_navbarUi{
 padding-left: 5%; 
}


.rish_links_selected{

}

.container-fluid_rishabh {
  
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*added by Rishabh*/
  padding-left: 12%;
  padding-right: 15%;
  padding-top: 0%;
  /*ended by Rishabh*/
}

.collapse_navbar_rishabh
{
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.bodyBlock
{
  background-color:#ffffff;
  padding-left:2.5%;
  padding-right:;
}

.rish_navbarBack
{
  background-color: #ffffff;
  border-color:#ffffff;
}

.portfolioColor
{

  color:#32C7C3;

}

.rish_thumbnail
{
  cursor:pointer;
  border:none;
}

.rish_thumbnail_no_click
{
 border:none; 
}


.rish_footer{
  padding-left: 15%;
  padding-right:15%;
  
}


.footer_content
{
  border-top: 1px solid #e9e9e9;
}

.rish_About
{
  font-size:20px;
  color:gray;
  
}

.rish_Margins
{
  padding: 0 10% 0 10%;
}



.rish_topMargins
{
  margin-top: 2%;
}

.rish_navbarShadow{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.01),0 1px 10px 0 rgba(0,0,0,.02),0 2px 4px -1px rgba(0,0,0,.2);
}

.subHeads
{
  font-size: 25px;
  color:gray;
  font-weight: bold;
}

.rish_projectSummary
{
  font-size: 15px;
  color:gray;
}