/*rishCSS*/




/* xs < 768 
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm 
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md 
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg 
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}*/


.rish_linksLi
{
  padding-right:17px;  
}

.navbar-default .navbar-nav > li > a 
{
  color:#9B9B9B;
  font-size: 12px;
}

.rish_navbarUi{
 padding-left: 5%; 
}


.rish_links_selected{

}

.container-fluid_rishabh {
  
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*added by Rishabh*/
  padding-left: 12%;
  padding-right: 15%;
  padding-top: 2%;
  /*ended by Rishabh*/
}

.collapse_navbar_rishabh
{
  
  /*border-bottom: 1px solid #e7e7e7;*/
}

.bodyBlock
{
  background-color:#ffffff;
/* padding-left:2.5%;
  padding-right:;*/
  margin: 0px 1% 0px 1%;
  margin-top: -2%;

}

.rish_navbarBack
{
  background-color: #ffffff;
  /*border-color:#ffffff;*/
  box-shadow: 0 0px 3px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,-0.8);
  
}

.portfolioColor
{

  color:#F86C6C;

}


.projectBlockLablesHead
{
  padding:4px;
  color:#F86C6C;
  font-size: 14px;
}


.projectBlockLables
{
  padding-left:4px;
  color:#F86C6C;
  font-size: 14px;
}



.rish_thumbnail
{
  cursor:pointer;
  border:none;
}

.rish_thumbnail_no_click
{
 border:none; 
}


.rish_footer{
    padding-left: 12%;
    padding-right: 15%;
    /*padding-top: 2%;*/
}


.footer_content
{
  border-top: 1px solid #7d7d7d;
  padding-top: 2%;
}

.footerHeads{
   color:#555555;
  font-size: .9em;
}

.footerHeadsContent{
 
  font-size: .9em;
  color:#9B9B9B;
}

.rish_About
{
  font-size:20px;
  color:gray;
  
}

.rish_Margins
{
  padding: 0 10% 0 10%;
}



.rish_topMargins
{
  margin-top: 0%;
}

.rish_navbarShadow{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.01),0 1px 10px 0 rgba(0,0,0,.02),0 2px 4px -1px rgba(0,0,0,.2);
}

.subHeads
{
  font-size: 25px;
  color:gray;
  font-weight: bold;
}

.rish_projectSummary
{
  font-size: 15px;
  color:gray;
}


.blockStartText
{
  /*border-bottom:1px solid #e9e9e9 ;*/
}

.subheaderText
{
  font-size:18px;
  color:#555555;

}

.resumeBlockHeads
{
  font-weight: bold;
  font-size: 1em;
  color:#F59090;

}

.resumeDetailsDate
{
  float:right;
  font-weight:bold;
  color:#555555;
}

.resumeDetailsBlock
{
  margin-top: 0.8%;
  text-align: justify;
}


.aboutRightBlock
{

}

