/*rishCSS*/




/* xs < 768 
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
}

/* sm 
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
}

/* md 
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
}

/* lg 
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }
}*/


/*Nav bar Shrink*/

nav.navbar.shrink {
  min-height: 70px;
}

nav.navbar{ 
   /* Animation*/
   -webkit-transition: all 0.4s ease;
   transition: all 0.4s ease;
}

.shrinkNavLinkBar{
  margin-top:18px;
}
/*nav shrink ends*/


.rish_linksLi
{
  padding-right:17px;  
}

.navbar-default .navbar-nav > li > a 
{
  color:#9B9B9B;
  font-size: 12px;
}

.rish_navbarUi{
 padding-left: 5%; 
}


.rish_links_selected{

}

.container-fluid_rishabh {
  
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  /*added by Rishabh*/
  padding-left: 12%;
  padding-right: 15%;
  padding-top: 2%;
  /*ended by Rishabh*/
}

.collapse_navbar_rishabh
{
  
  /*border-bottom: 1px solid #e7e7e7;*/
}

.bodyBlock
{
  background-color:#f8f8f8;
/* padding-left:2.5%;
  padding-right:;*/
  margin: 3% 1% 0px 1%;
  padding-left: 8%;
  padding-right: 8%;
  

}

.rish_navbarBack
{
  background-color: #ffffff;
  /*border-color:#ffffff;*/
  border-top:4px solid #F86C6C;
  box-shadow: 0 0px 3px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,-0.8);
  
}

.portfolioColor
{

  color:#F86C6C;

}


.projectBlockLablesHead
{
  padding:4px 0 4px 0 ;
  color:#F86C6C;
  font-size: 1.2em;
}


.projectBlockLables
{
  padding:0px 0 4px 0 ;
  color:#F86C6C;
  font-size: 14px;
}


.rish_thumbnail
{
  cursor:pointer;
  border:none;
  padding: 0px;

}

.rish_imageBorder
{
   border:1px solid #d5d5d5;
   border-radius: 0px;
}

.rish_thumbnail_no_click
{
 border:none; 
}


.rish_footer{
    background-color: #ffffff;
    /*padding-left: 12%;
    padding-right: 15%;
    padding-top: 2%;*/
}


.footer_content
{
  padding-left: 9%;
    padding-right: 9%;
  border-top: 1px solid #e7e7e7;
  padding-top: 2%;
}

.footerHeads{
   color:#555555;
  font-size: .9em;
}

.footerHeadsContent{
 
  font-size: .9em;
  color:#9B9B9B;
}

.rish_About
{
  font-size:20px;
  color:gray;
  
}

.rish_Margins
{
  padding: 0 10% 0 10%;
}



.rish_topMargins
{
  margin-top: 0%;
}

.rish_navbarShadow{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.01),0 1px 10px 0 rgba(0,0,0,.02),0 2px 4px -1px rgba(0,0,0,.2);
}

.subHeads
{
  font-size: 25px;
  color:gray;
  font-weight: bold;
}

.rish_projectSummary
{
  font-size: 15px;
  color:gray;
}


.blockStartText
{
  /*border-bottom:1px solid #e9e9e9 ;*/

}

.subheaderText
{
  font-size:1.25em;
  color:#555555;
  text-align: justify;

}

.subHeadings{
  text-align: :center;
  font-family: 'Merriweather', serif;
  font-size:2.3em;
  color:#F59090;
 
}

.introText
{
  font-family: 'Merriweather', serif;
  font-size:3em;
  color:#F59090;
}

.introTextDetails
{
  font-size:1.8em;
  color:#555555;
  margin-top:-1%;
}

.resumeBlockHeads
{
  margin-top:3%;
  font-weight: normal;
  font-size: 1.5em;
  color:#F59090;

}

.resumeDetailsDate
{
  float:right;
  font-weight:bold;
  color:#333333;
}

.resumeDetailsBlock
{
  margin-top: 0.8%;
  
  font-size: 1.25em;
}


.aboutRightBlock
{

}

.btn:focus,.btn:active {
   outline: none !important;
}



.tabContentPadding
{
  background-color:#fff;
  padding: 0 1% 0 1%;
}

.rishNavbarContainerPadding
{
  padding: 0 9% 0 9%; 
}


.navbar-nav li>a:hover,.navbar-nav li>a:focus,.navbar-nav li.active {
    background-color:#000;
}